$mainBg-color: #FFFF;
$blockBg-color: #F5F5F7;
$text-color: #131313;
$accent-color: #864DFF;



.fz30 {font-size: 30px; font-weight: 500;}
.fz24 {font-size: 24px; font-weight: 500;}

.title {
    font-size: 30px;
    font-weight: 500;
}
.descr {
    line-height: 135%;
}